.root {
    -fx-background-color: #252525;
    -fx-background-image: url("images/board.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.label {
    -fx-text-fill: #ffffff;
}

/*#handBox {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 30;'
   -fx-border-radius: 10;'
   -fx-border-width: 5;'
   -fx-border-color: rgba(255, 255, 0, 0.1);'
}*/

#currentCard {
    -fx-background-image: url("/client/cards/PNG-cards-1.3/blank_stack.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}