.root {
    -fx-background-color: #383838;
}

.label {
    -fx-text-fill: #ffffff;
}

.scroll-pane{
    -fx-background-color: #383838;
}

.table-view{
    -fx-background-color: #444444;
}

.table-view .column-header {
    -fx-background-color: #4c4c4c;
}

.table-view .column-header .label{
    -fx-text-fill: #ffffff;
}

.check-box{
    -fx-text-fill: #ffffff;
}